<%= form.error_messages %>
<table>
  <tr>
    <td><b>Repair Order #</b></td><td><%= form.text_field :ro_number %></td>
  </tr>
  <tr>
    <td><b>Clients Lastname:</b></td><td><%= form.text_field :clients_lastname %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td><td><%= form.text_area :description %></td>
  </tr>
  <tr>
    <td><b>Flat-Rate:</b></td>
    <td>
      <span class="flatrate_time">
        Hours: <input class="hours" type="text" value="<%= @job.flatrate_time.split('.')[0] unless @job.flatrate_time.blank? %>" />
        Hundredths: <input class="hundredths" type="text" value="<%= @job.flatrate_time.split('.')[1] unless @job.flatrate_time.blank? %>" />
        <%= form.hidden_field :flatrate_time %>
      </span>
    </td>
  </tr>
</table>

<script>
  $('.flatrate_time input.hours').bind('change', function(){
    $(".flatrate_time").timecalc('input#job_flatrate_time');
  });
  $('.flatrate_time input.hundredths').bind('change', function(){
    $(".flatrate_time").timecalc('input#job_flatrate_time');
  });
</script>