<%= form.error_messages %>

<p><%= form.label :ro_number %>: <%= form.text_field :ro_number %></p>
<p><%= form.label :clients_lastname %>: <%= form.text_field :clients_lastname %></p>
<p><%= form.label :description %>: <br /><%= form.text_area :description %></p>

<%= form.hidden_field :technician_id, :value => @technician.id %>