<% form_for @job do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <table class="job" data-state="<%= @job.state %>">
    <% if ["scheduled", "here"].include?(@job.state) %>
    <tr>
      <td><b>Technician</b></td>
      <td><%= form.collection_select :technician_id, @technicians, "id", "name" %></td>
    </tr>
    <% end %>
  </table>
  <%= form.submit 'Save' %>
<% end %>
<% if ["scheduled"].include?(@job.state) %>
  <%= link_to("Delete this job", url_for(@job), :method => :delete, :confirm => "Are you sure?") %>
<% end %>