<h2 id="<%= @job.id %>">RO# <%= @job.ro_number %></h2>
<p style=""><b>Lastname:</b> <%= @job.clients_lastname %></p>
<p><b>Description:</b><br /><%= @job.description %></p>

<% if @timer.new_record? %>
  <a href="javascript:void(0)" class="toggle_timer" id="start_timer">Start</a>
<% else %>
  <a href="javascript:void(0)" class="toggle_timer" id="stop_timer" timer_id="<%= @timer.id %>">Stop</a>
<% end %>

<a href="javascript:void(0)" class="" id="complete_job">Complete</a>

<a href="/" id="return_home">Return Home</a>
<a href="javascript:void(0)" class="edit_job" id="">Edit</a>

<div id="complete_dialog" >
  <p>Do you want to override the time you spent on this job?</p>
  <a href="javascript:void(0)" class="yes">Yes</a>
  <a href="javascript:void(0)" class="no">No</a>
</div>
<div id="new_job_time">
  <h3>New job time</h3>
  <p class="time_spent">
    Hours: <input class="hours" type="text" value="0" /> Minutes: <input class="minutes" type="text" value="0" />
    <input type="hidden" id="time_spent" name="new_time_field" value="0" />
  </p>
  
  <a href="javascript:void(0)" id="save_job">Save Job</a>
</div>