<table class="job" data-state="<%= @job.state %>">
  <tr>
    <td><b>Lastname:</b></td><td><%= @job.lastname %></td>
  </tr>
  <tr>
    <td><b>Vehicle:</b></td><td><%= @job.vehicle %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td><td><%= @job.description %></td>
  </tr>
  <tr>
    <td><b>Flat-Rate:</b></td><td><%= @job.flatrate_time %></td>
  </tr>
  <tr>
    <td><b>Recorded:</b></td><td><%= @job.recorded_time_helper %></td>
  </tr>
</table>
<% if ["scheduled","no_show"].include?(@job.state) %>
  <%= link_to("Delete this job", url_for(@job), :method => :delete, :confirm => "Are you sure?") %>
<% end %>