<table data-status="<%= @job.status %>">
  <tr>
    <td><b>Lastname:</b></td><td><%= @job.lastname %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td><td><%= @job.description %></td>
  </tr>
  <tr>
    <td><b>Flat-Rate:</b></td><td><%= @job.flatrate_time %></td>
  </tr>
  <tr>
    <td><b>Recorded:</b></td><td><%= @job.recorded_time_helper %></td>
  </tr>
</table>