<div id="cal_header" data-date="<%= @day.strftime('%m%d%Y') %>">
  <ul>
    <li><a href="<%= @day.yesterday.strftime('%m%d%Y') %>" class="ui-state-default ui-button ui-corner-all"><span class="ui-icon ui-icon-carat-1-w"></span></a></li>
    <li><a href="<%= @day.tomorrow.strftime('%m%d%Y') %>" class="ui-state-default ui-button ui-corner-all"><span class="ui-icon ui-icon-carat-1-e"></span></a></li>
    <li><span class="schedule_for"><input type="hidden" id="calendar" /> Schedule for <%= @day.to_time.humanize_date %></span></li>
    <li class="spaced"><% if @technicians.length == 1 %><a href="/schedule/<%= @day.strftime('%m%d%Y') %>" class="change_tech">Change Technician (Back to Master Schedule)</a><% end %></li>
  </ul>
</div>
<table id="schedule" class="date_<%= @day.strftime('%m_%d_%Y')%>" data-date="<%= @day.strftime('08:00:00 %m/%d/%Y')%>" data-view-type="<%= request.env['PATH_INFO'].split('/')[1] == "schedule" ? "manager" : "technician" %>">
  <thead>
    <tr>
      <td class="time"></td>
      <% @technicians.each do |tech| %>
        <td id="<%= tech.id %>" class="technician" style="background-color:<%= tech.color %>"><%= link_to tech.name, technician_schedule_url(tech), :style => "color:#{tech.font_color}" %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @hours.each do |time| %>
      <tr class="<%= time[:class] %>" data-time="<%= time[:t24] %>">
        <td class="time"><span><%= time[:digits] %></span></td>
        <% @technicians.each do |tech| %>
          <td data-tech-id="<%= tech.id %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="note"></div>