<h1> Listing Timeclocks</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Technician</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

  <% for timeclock in @timeclocks %>
  <tr>
    <td><%= h timeclock.job_id %></td>
    <td><%= h timeclock.technician_id %></td>
    <td><%= h timeclock.start_time %></td>
    <td><%= h timeclock.end_time %></td>
    <td><%= link_to 'Show', timeclock %></td>
    <td><%= link_to 'Edit', edit_timeclock_path(timeclock) %></td>
    <td><%= link_to 'Destroy', timeclock, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'New Timeclock', new_timeclock_path %></p>
