<dl>
  <dt>Job</dt>
  <dd><%= h @timeclock.job_id %></dd>
  <dt>Technician</dt>
  <dd><%= h @timeclock.technician_id %></dd>
  <dt>Start time</dt>
  <dd><%= h @timeclock.start_time %></dd>
  <dt>End time</dt>
  <dd><%= h @timeclock.end_time %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_timeclock_path(@timeclock)%>
  |
  <%= link_to 'Back', timeclocks_path %>
</p>
