<div id="job" job_id="<%= @job.id %>">
  <h2>Job# <%= @job.id %>, Technician: <%= @job.technician.name %></h2>
  <h3>RO# <%= @job.ro %></h3>
  <h3>Lastname: <%= @job.lastname %></h3>
  <% form_for [:admin, @job] do |f| %>
    <h4>Description:</h4>
    <p><%= @job.description %></p>
    <h4>Total Time Logged: <%= @job.recorded_time_helper %></h4>
    <h4>Flat-rate Time</h4>
    <p class="flatrate_time">Hours: <input class="hours" type="text" value="<%= @job.flatrate_time.to_s.split('.')[0] %>" /> Hundredths: <input class="hundredths" type="text" value="<%= @job.flatrate_time.to_s.split('.')[1] %>" /></p>
    <%= f.hidden_field :flatrate_time %>
    <h4>Extra Time</h4>
    <p class="extra_time">Hours: <input class="hours" type="text" value="<%= @job.extra_time.to_s.split('.')[0] %>" /> Hundredths: <input class="hundredths" type="text" value="<%= @job.extra_time.to_s.split('.')[1] %>" /></p>
    <%= f.hidden_field :extra_time %>
    <%= f.submit 'Update', :class => 'hide' %>
  <% end %>
</div>

<script>
  $().ready(function() {
    // focus on the right field
    $('.flatrate_time input.hours').focus();
    // bind to the change events of my hours and minutes fields
    $('.flatrate_time input.hours').bind('change', function(){
      $(".flatrate_time").timecalc('input#job_flatrate_time');
    });
    $('.flatrate_time input.hundredths').bind('change', function(){
      $(".flatrate_time").timecalc('input#job_flatrate_time');
    });
    $('.extra_time input.hours').bind('change', function(){
      $(".extra_time").timecalc('input#job_extra_time');
    });
    $('.extra_time input.hundredths').bind('change', function(){
      $(".extra_time").timecalc('input#job_extra_time');
    });
    // add my save button
    $("#footer div.col2").append("<a href='#' class='update_job'>Save</a>");
    $('a.update_job').bind('click', function(){
      $('form.edit_job').submit();
    });
  });
</script>