<div id="job" job_id="<%= @job.id %>">
  <h2>Job# <%= @job.id %>, Technician: <%= @job.technician.name %></h2>
  <h3>RO# <%= @job.ro %></h3>
  <h3>Lastname: <%= @job.lastname %></h3>
    <h4>Description:</h4>
    <p><%= @job.description %></p>
    <h4>Total Time Logged: <%= @job.recorded_time_helper %></h4>
    <h4>Flat-rate Time: <%= @job.flatrate_time %></h4>
    <h4>Extra Time: <%= @job.extra_time %></h4>
    <h4>Difference: <%= @job.difference %></h4>
</div>

<script>
  $().ready(function() {
    // add edit button
    $("#footer div.col2").append("<a href='/admin/jobs/<%= @job.id %>/edit' class='update_job'>Edit</a>");
  });
</script>