<div id="content_search">
  <% form_tag "/admin/reports/recorded_vs_flatrate", :method => "get" do %>
    <p>
      <label>Start Date:</label>
      <%= text_field_tag :start_date, @start_date %>
      <label>End Date:</label>
      <%= text_field_tag :end_date, @end_date %>
      <label>Technician</label>
      <select id="technician_id" name="technician_id">
        <option value="all">All</option>
        <% Technician.all().each do |tech| %>
          <option value="<%= tech.id %>"<%= tech.id == @selected.to_i ? ' selected="selected"' : '' %>><%= tech.name %></option>
        <% end %>
      </select>  
      <%= submit_tag "Run report" %>
    </p>
  <% end %>
</div>

<table class="itu" >
  <thead>
    <tr>
      <th class="first">Id</th>
      <th>RO #</th>
      <th>Technician</th>
      <th>Recorded</th>
      <th>Flat-rate</th>
      <th>Extra</th>
      <th>Difference</th>
      <th>RunningDiff</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job|  %>
      <tr class="job" alt="<%= job.description %>" status="<%= status_helper(job) %>">
        <td class="fake_link_padding"><%= job.id %></td>
        <td class="fake_link_padding"><%= job.ro_number %></td>
        <td class="fake_link_padding"><%= job.technician.name %></td>
        <td class="fake_link_padding"><%= job.recorded_time %></td>
        <td class="fake_link_padding"><%= job.flatrate_time %></td>
        <td class="fake_link_padding"><%= job.extra_time %></td>
        <td class="fake_link_padding"><%= job.difference %></td>
        <td class="fake_link_padding"><%= running_difference(job.difference) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    // create datepicker widget
    $("#start_date").datepicker();
    $("#end_date").datepicker();
	});
</script>